<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- JDBC Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://bxq5wtpg8etnxlr1:ftavnw604adm7ncz@spryrr1myu6oalwl.chr7pe7iynqr.eu-west-1.rds.amazonaws.com:3306/t2cl896o55zkuvod</property>
        <property name="connection.username">root</property>
        <property name="connection.password">03012001</property>
        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">10</property>
        <!-- Select our SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">false</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">validate</property>
        <!-- для пакетной обработки -->
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>

        <mapping class="main.entities.Page"></mapping>
        <mapping class="main.entities.Index"></mapping>
        <mapping class="main.entities.Field"></mapping>
        <mapping class="main.entities.Lemma"></mapping>
        <mapping class="main.entities.Site"></mapping>


    </session-factory>
</hibernate-configuration>